.lista-anuncios {
    display: flex;
    color: black;
    background-color: rgb(92, 192, 209);
}

.titulo-portada {
    color: rgb(58, 89, 228);
    height: 50%;
    font-size: 50px;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(./images/fondo.jpg);
    margin: 0;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}